body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(3, 54, 18, 0.644);

}

ul li{
    float: left;
}

ul li a{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid rgb(46, 206, 255)
}

ul li a:hover {
    background-color: rgb(0, 217, 255);
}

body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.flex-container{
    display: flex;
    flex-direction: row-reverse;
    margin: 1px;

}
 
.name{
    text-align: right;
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif
}

article {
  text-align: right;
  padding: 100px 20px;
}

.name {
  font-size: 36px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}


.my-button {
  background-color: #007bffc7;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  background-color: #141414;
  color: white;
  margin-top: 50px;
}